# node e build
node_modules/
.next/
out/

# expo
.expo/
dist/
web-build/

# prisma e db
.env
*.db
*.sqlite
prisma/dev.db

# sistema
.DS_Store
Thumbs.db
*.log

# vscode e TS
.vscode/
*.tsbuildinfo
next-env.d.ts
